extend pug/partes/_globales.pug
block nodo1
  body
    i(class="icon-menu burger-button" id="burger-menu")
    include pug/partes/_header.pug
    include pug/partes/_hero.pug
    include pug/partes/_title.pug
    include pug/partes/_parrafo.pug
    include pug/partes/_videos.pug
    include pug/partes/_skills_y_certificados.pug
    include pug/partes/_portafolio.pug
    include pug/partes/_contacto.pug
    include pug/partes/_footer.pug
    script(src="script/index.js")