section(class="contact" id="Contactos")
  .container
    form(action="/suscripcion/" class="form-email")
      label(for="email") ¿Creamos algo Juntos?
      input(type="text" placeholder="Déjame tu email" id="email")
      button Enviar
    .social
      a(href="https://www.linkedin.com/in/diego-rojas-4304/"): i.icon-linkedin
      a(href="https://github.com/DiegoRojas93"): i.icon-GitHub