header.header
  .container
    figure: img(src="https://i.imgur.com/Ld9Nug1.png", alt="Logo", height="50")
    nav(class="menu is-active")
      ol
        +nav-list("home")
        +nav-list("Skills")
        +nav-list("Certificados")
        +nav-list("Portafolio")
        +nav-list("Contactos")