section.hero
  div(class="container" id="containerhero")
    +title("ContainerTitle")
    img(class="hero-image" src="../../images/hero.jpg", alt="imagen principal del sitio", width="500" height="300")