.container
      p.
        Te voy a contar sobre mí. Nací en Bogotá, Colombia. Graduado como técnico profesional en mecatronica con gran pasión por la tecnología, soy un frontend developer cuyo objetivo es desarrollar todos los elementos visuales de un sitio web cuya misión es conseguir una experiencia de usuario atractiva y dinámica, a través del manejo de diferentes tecnologías de programación.