.container
  h2(id="Portafolio") Portafolio
section.briefcase-list
  .container
    +trabajo("Fondo1.png", "Platzi Foot", "Este fue el primer proyecto en utilizar el famework de foundation y alpineJS","https://diegorojas93.github.io/PlatziFoot/public/home.html","https://github.com/DiegoRojas93/PlatziFoot")
    +trabajo("Fondo2.png", "move.es", "Este proyecto fue realizado con la ayuda del framework de materialize","https://materialize-blog-9543d.web.app/index.html","https://github.com/DiegoRojas93/Blog_firebase")
    +trabajo("Fondo3.png", "Simon Dice", "Este proyecto fue el primero en utilizar JavaScript.","https://diegorojas93.github.io/Simon_Dice/Index.html","https://github.com/DiegoRojas93/Simon_Dice.git")
    +trabajo("Fondo4.PNG", "Platzi video", "Este proyecto utilizo JavaScript puro sin utilizar jQuery u otra libreria.","https://diegorojas93.github.io/Plazti_Video/","https://github.com/DiegoRojas93/Plazti_Video")
    +trabajo("Fondo5.PNG", "Platzi Conf", "Este proyecto utilizo el framework de Bootstrap para ser construida","https://diegorojas93.github.io/Platzi-Talks-bootstrap/","https://github.com/DiegoRojas93/Platzi-Talks-bootstrap")
    +trabajo("Fondo6.png", "El dragon tatuado", "Este proyecto utilizo el framework de Foundation para ser construida","https://diegorojas93.github.io/The_tattooed_dragon/","https://github.com/DiegoRojas93/The_tattooed_dragon")