.container
  h2(id="Portafolio") Portafolio
section.briefcase-list
  .container
    +trabajo("Fondo1.png", "bran", "Este fue el primer proyecto en realizar HTML Y CSS","https://diegorojas93.github.io/Brand/Index.HTML","https://github.com/DiegoRojas93/Brand.git")
    +trabajo("Fondo2.png", "move.es", "Este proyecto fue el primero en utilizar CSS Grids.","https://diegorojas93.github.io/Grid/","https://github.com/DiegoRojas93/CCS-Grid-Layout")
    +trabajo("Fondo3.png", "Simon Dice", "Este proyecto fue el primero en utilizar JavaScript.","https://diegorojas93.github.io/Simon_Dice/Index.html","https://github.com/DiegoRojas93/Simon_Dice.git")
    +trabajo("Fondo4.PNG", "Platzi video", "Este proyecto utilizo JavaScript puro sin utilizar jQuery u otra libreria.","https://diegorojas93.github.io/Plazti_Video/","https://github.com/DiegoRojas93/Plazti_Video")
    +trabajo("Fondo5.PNG", "Platzi Conf", "Este proyecto utilizo el framework de Bootstrap para ser construida","https://diegorojas93.github.io/Platzi-Talks-bootstrap/","https://github.com/DiegoRojas93/Platzi-Talks-bootstrap")
    +trabajo("Fondo6.png", "El dragon tatuado", "Este proyecto utilizo el framework de Foundation para ser construida","https://diegorojas93.github.io/The_tattooed_dragon/","https://github.com/DiegoRojas93/The_tattooed_dragon")