.container
  h2 Skills Y Certificaciones
section.Logros
      article(class="Skills" id="Skills")
        h3 Skills
          .conteiner__Skills
            ul
              +skill("HTML", 71, "HTML")
              +skill("CSS", 71, "CSS")
              +skill("javascript", 50, "JavaScript")
              +skill("git", 50, "git")
              +skill("Terminal_De_Comandos", 48 , "Terminal de comandos")
              +skill("NPM", 25, "NPM")
              +skill("Pug", 50, "Pug")
              +skill("SASS", 31, "Sass")
              +skill("LESS", 22, "Less")
              +skill("STYLUS", 35, "Stylus")
              +skill("PostCSS", 51, "PostCSS")
              +skill("Bootstrap", 51, "Bootstrap")
              +skill("AdobeXD", 51, "Adobe XD")
              +skill("Illustrator", 50, "Illustrator")

      article(class="Certificados" id="Certificados")
        h3 Certificados
        section.Certificado
          +certificado("1","Fundamentos_de_Ingeniería_de_Software.png", "https://platzi.com/@Diego-Rojas4304/curso/1098-ingenieria/diploma/detalle/")
          +certificado("2","Programación_Basica.png", "https://platzi.com/@Diego-Rojas4304/curso/1050-programacion-basica/diploma/detalle/")
          +certificado("3","Git_Y_Github.png", "https://platzi.com/@Diego-Rojas4304/curso/1557-git-github/diploma/detalle/")
          +certificado("4","HTML_Y_CSS.png", "https://platzi.com/@Diego-Rojas4304/curso/1492-html-css/diploma/detalle/")
          +certificado("5","Curso_Practico_HTML_Y_CSS.png", "https://platzi.com/@Diego-Rojas4304/curso/1758-html-practico/diploma/detalle/")
          +certificado("6","Desarrollo_Web_Online.png", "https://platzi.com/@Diego-Rojas4304/curso/1350-html5-css3/diploma/detalle/")
          +certificado("7","CSS_Grid_Layout.png", "https://platzi.com/@Diego-Rojas4304/curso/1229-css-grid-layout/diploma/detalle/")
          +certificado("8","Responsive_Design.png", "https://platzi.com/@Diego-Rojas4304/curso/1362-responsive-design/diploma/detalle/")
          +certificado("9","Terminal_y_Línea_de_Comandos.png", "https://platzi.com/@Diego-Rojas4304/curso/1748-terminal/diploma/detalle/")
          +certificado("10","Buenas_Práctica_y_Entornode_Desarrollo.png", "https://platzi.com/@Diego-Rojas4304/curso/1650-prework/diploma/detalle/")
          +certificado("11","Curso_Básico_de_JavaScript.png", "https://platzi.com/@Diego-Rojas4304/curso/1814-basico-javascript/diploma/detalle/")
          +certificado("12","Curso_De_Frontend_Developer.png", "https://platzi.com/@Diego-Rojas4304/curso/1640-frontend-developer/diploma/detalle/")
          +certificado("14","ECMAScript 6+.png", "https://platzi.com/@Diego-Rojas4304/curso/1815-ecmascript-6/diploma/detalle/")
          +certificado("15","Fundamentos_De_JavaScript.png", "https://platzi.com/@Diego-Rojas4304/curso/1339-fundamentos-javascript/diploma/detalle/")
          +certificado("16","jQuery_A_JavaScript.png", "https://platzi.com/@Diego-Rojas4304/curso/1316-jquery-js/diploma/detalle/")
          +certificado("17","Introduccion_Al_Diseño.png","https://platzi.com/@Diego-Rojas4304/curso/1228-fundamentos-diseno/diploma/detalle/")
          +certificado("18","Diseño_De_Interfaces.png","https://platzi.com/@Diego-Rojas4304/curso/1493-diseno-interfaz/diploma/detalle/")
          +certificado("19","Fotografia.png","https://platzi.com/@Diego-Rojas4304/curso/1628-fotografia-telefono/diploma/detalle/")
          +certificado("20","AdobeXD.png", "https://platzi.com/@Diego-Rojas4304/curso/1637-adobe-xd/diploma/detalle/")
          +certificado("21","Illustrator.png", "https://platzi.com/@Diego-Rojas4304/curso/1130-illustrator/diploma/detalle/")
          +certificado("22","NPM.png", "https://platzi.com/@Diego-Rojas4304/curso/1763-npm/diploma/detalle/")
          +certificado("23","Curso_De_Preprocesadores.png", "https://platzi.com/@Diego-Rojas4304/curso/1665-preprocesadores/diploma/detalle/")
          +certificado("24","Curso_De_Sass.png", "https://platzi.com/@Diego-Rojas4304/curso/1244-sass/diploma/detalle/")
          +certificado("25","Curso_De_PostCss.png", "https://platzi.com/@Diego-Rojas4304/curso/1242-postcss/diploma/detalle/")
          +certificado("26","Bootstrap.png", "https://platzi.com/@Diego-Rojas4304/curso/1331-bootstrap/diploma/detalle/")